[order]
WantedBy=disk.target
After=lvm2-lvpolld.service
#Requires=udev.service

[service]
Description=LVM2
Type=oneshot
Autostart=true

ExecPreStart=mkdir -m 0700 -p /run/lvm
ExecStart=/sbin/lvm vgchange -aay --sysinit >/dev/null
