Name: udevd
Description: This is a sample config file to start udevd.
Type: forking

Provides: devfs
Startup: udevd --daemon && udevadm trigger --action=add --type=subsystems && udevadm trigger --action=add --type=devices && udevadm settle
Shutdown: udevadm control --exit
